
$ColorBlack: #121212;
$White: #ffffff;
$gray:#444;
$green:#7aa944;
$green-clar:#5c7e32;
$red:red;
$chocolate-color:chocolate;
$brown:#e6781e;
$yellow:#f4dd51;


$--area-porta-altura:310px;
$--area-porta-largura:200px;
