@import "../../styles/Colors.scss";

.porta {
    position: relative;
    display: flex;

    flex-direction: column;
    align-items: center;

    padding: 0.5rem;
    background-color:$chocolate-color;
    flex-grow: 1;
    width: 100vh;
    height: 25vw;


}

.number {
    font-size: 3.5rem;
}

.area{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 450px;
    margin: 5rem;
  

}
.frame{
display: flex;
flex-grow: 1;
flex-wrap: wrap;
border-left:5px solid $brown ;
border-top:5px solid $brown ;
border-right:5px solid $brown ;
background-color: black;
height: 90vh;
width: 28vh;
}

/* macaneta da porta*/
.macaneta {
    position:absolute;
   
    align-self: flex-end;
    top: 200px;
    height: 20px;
    width: 20px ;
    border-radius: 20px;
    background-color: $ColorBlack;


}


.selecionada {
    border-left:5px solid $yellow ;
border-top:5px solid $yellow ;
border-right:5px solid $yellow ;
}

.selecionada .number {
    color: $yellow;

}

.selecionada .macaneta{
    background-color:$yellow;

}